extends layout

block content
  div
  div
    nav.navbar.navbar-inverse(role='navigation' style='padding-left:130px;')
      ul.nav.navbar-nav
        li
          a(href='/') Home
        li.active
          a(href='/about')
            | About
            span.sr-only (current)
  br
  .jumbotron
    h2 About PackerSystems
    p
      | The info on this page is not meant to be read in the context
      | of the environment, this is Bailey Kasin talking about PackerSystems.
    p
      | I started this project in early 2018, I think January. It has grown
      | quite a bit from what I pictured at the time, which was pretty just
      | the CyberPatriot images. As I was working on the Ubuntu image, I
      | decided "Hey, I should build an entire CCDC environment too." And
      | now I am/have.