@{
    ViewData["Title"] = "Home Page";
}
<h3>@ViewData["Message"]</h3>

<p>
    Hey, you all must be that group I hired to come out and help me fix up the environment I
    just inherited! I have no idea what the previous head of IT wasdoing, but I can’t make
    sense of any of the choices he made. So far all I’ve really been able to do is figure out
    something that vaguely resembles a network layout. I’ll leave a note at the bottom of this
    messages that details what I’ve figured out so far. I think the main things we should focus
    on first are getting firewalls and logging in place.
</p>

<p>
    I think all the Linux servers should have SSH access, all Windows machines should be joined
    to the domain, and we need a proper list of what each one does.
</p>

<p>
    Here's a list of what it currently running, just to make sure we don't mess anything up:
</p>
<div style="margin-top:20px">
@Html.Partial("Checks")
</div>