[Unit]
Description=Controls scoring engine service
After=network.target
[Service]
Type=simple
User=root
ExecStart=dotnet run --project /opt/site
[Install]
WantedBy=multi-user.target