[Unit]
Description=Controls scoring engine service
After=network.target
[Service]
Type=oneshot
User=root
ExecStart=/bin/bash -c '/usr/bin/scoringengine &' ; /bin/bash -c 'dotnet run --project /opt/site &'
[Install]
WantedBy=multi-user.target